body {
    background: rgba(21, 21, 21, 1);
    font-family: 'Manrope', sans-serif;
}

.bg-gray {
    background: rgba(21, 21, 21, 1);
}

/* ======================================== header section ================================= */
.header {
    width: 100%;
    background-color: black;
    height: 90vh;
}


.page-header {
    font-family: 'Berkshire Swash', cursive;
    color: rgba(255, 94, 25, 1);
}

.soccer-bg {
    border-radius: 100% 0 0 0;
}

.bg-header-img {
    position: relative;
    top: 80px;
    width: 150px;
    height: 200px;
    filter: drop-shadow(3px 2px 39px rgba(203, 203, 203, 0.25)) drop-shadow(-3px -2px 39px rgba(203, 203, 203, 0.25));
}

.bg-header-logo {
    position: relative;
    top: -150px;
    left: -30px;
}

.bg-header-logo-sub {
    position: relative;
    width: 150px;
    top: -20px;
}